<h1>страница редактирования</h1>

<%= form_with model: @game do |form| %>
    <div>
        <%= form.label "Название" %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label "Описание" %><br>
        <%= form.text_area :description %> 
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

